{% extends "layout.html" %}
{% block title %}<b>New account</b>>{% endblock %}
{% block content %}
<h2>Change password</h2>
{% if not session.username %}
<p>Log in to change password</p>
{% else %}
<p>{{ error }}</p>
<form action="/change_password" method="POST">
    <p>Old password: <input type="password" name="password_old"></p>
    <p>New password:  <input type="password" name="newpassword"></p>
    <p>New password again:  <input type="password" name="newpassword2"></p>
    <input type="submit" value="change_password">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% endblock %}


