{% extends "layout.html" %}
{% block title %}<b>New account</b>>{% endblock %}
{% block content %}
<h2>Change password</h2>
{% if not session.username %}
<p>Log in to change password</p>
{% else %}
<p>{{ error }}</p>
<form action="/change_password" method="POST">
    <table>
        <tbody>
            <tr>
                <td>Old password: </td>
                <td><input type="password" name="password_old"></td>
            </tr>
            <tr>
                <td>New password: </td>
                <td><input type="password" name="newpassword"></td>
            </tr>
            <tr>
                <td>New password again: </td>
                <td><input type="password" name="newpassword2"></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="change_password">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% endblock %}


