{% extends "layout.html" %}
{% block title %}<b>New account</b>>{% endblock %}
{% block content %}
<h2>New account</h2>
{% if session.username %}
<p>{{ creation_error }}</p>
<p>Logged in as <b>{{ session.username }}</b>. Log out to create new account.</p>
{% else %}
<p>{{ login_error }}</p>
<form action="/create_account" method="POST">
    <p>Choose username: <input type="text" name="username"></p>
    <p>Enter password:  <input type="password" name="newpassword"></p>
    <p>Password again:  <input type="password" name="newpassword2"></p>
    <input type="submit" value="Create user">
</form>
{% endif %}
{% endblock %}


