{% extends "layout.html" %}
{% block title %}<b>New recipe</b>{% endblock %}
{% block content %}
<h2>Edit recipe</h2>
{% if session.username %}
<form action="/confirm_edit" method="POST">
    <table>
        <tbody>
            <tr>
                <td>recipe name: </td>
                <td><input type="text" name="recipe_name" value="{{ recipe_name }}"> {{ recipe_name_error }}</td>
            </tr>
            <tr>
                <td>active time: </td>
                <td><input type="number" name="active_time" value="{{ active_time }}">  {{ active_time_error }}</td>
            </tr>
            <tr>
                <td>passive time: </td>
                <td><input type="number" name="passive_time" value="{{ passive_time }}"> {{ passive_time_error }}</td>
            </tr>
            <tr>
                <td>difficulty: </td>
                <td><input type="number" min="0" max="3" step="1" name="difficulty" value="{{ difficulty }}"> {{ difficulty_error }}</td>
            </tr>
        </tbody>
    </table>
        category
        <select name="meal_type">
            {% for mt in meal_types %}
                {% if mt == meal_type %}
                    <option value="{{ mt }}" selected>{{ mt }}</option>
                {% else %}
                    <option value="{{ mt }}">{{ mt }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {{ meal_type_error }}
    </p>
    <table>
        <thead>
            <tr>
                <th colspan="1">Ingredient</th>
                <th colspan="1">Amount</th>
                <th colspan="1">Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(ingredient_list|length) %}
            <tr>
                {% if i == ingredient_list|length -1 and ingredient_list|length > 1 %}
                    <td><input name="ingredient" type="text" value="{{ingredient_list[i]}}" autofocus></td>
                {% else %}
                   <td><input name="ingredient" type="text" value="{{ingredient_list[i]}}"></td>
                {% endif %}
                    <td><input name="amount" type="number" size="6" step="any" value="{{amount_list[i]}}"></td>
                    <td><input name="unit" type="text" value="{{unit_list[i]}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>{{ ingredient_error }}</p>
    <p>{{ amount_error }}</p>
    <p>{{ unit_error }}</p>
    </ul>
    <br>
    <button type="submit" formaction="/add_ingredient_edited">add ingredient</button>
    <button type="submit" formaction="/remove_ingredient_edited">remove ingredient</button>
    <br><br>
    <p><b>Instructions</b></p>
    <br>
    <textarea name="instructions" rows="20" cols="80">{{ instructions }}</textarea>
    <br>
    <p>{{ instructions_error }}</p>
    <br>
    <input type="submit" value="Confirm modifications">
    <input type="submit" formaction="/" value="Discard modifications">
    <input type="submit" formaction="/delete_recipe" value="Delete recipe">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
</form>       
{% else %}
<p>You must be logged in to post a new recipe</p>
{% endif %}
{% endblock %}
