<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Fort</title>
    </head>
    <body>
        <h2><a href="/">Recipe Fort</a></h2>
        {% if session.username %}
        <p>Logged in as {{ session.username }} <a href="/logout">Log out</a></p> 
        {% else %}
        <p>{{ login_error }}</p>
        <form action="/login" method="POST">
            <p>Username: <input type="text" name="username"></p>
            <p>Password:  <input type="password" name="password"></p>
            <input type="submit" value="Log in">
        </form>
        {% endif %}
        <h3>{{ profile_name }}'s profile</h3>
        <p><a href="/recipe_search">Search Recipes</a></p>
        <p>{{ session.username }} {{ profile_name }}</p>
    </body>
</html>
