{% extends "layout.html" %}
{% block title %}
    {% if session.username %}
        <b>{{ session.username }}'s</b> profile
    {% endif %}
{% endblock %}
{% block content %}
    {% if session.username %}
        {% if session.username == profile_name %}
            <!--Your profile!-->
            <p><a href="/change_password">Change password</a></p>
            <p><a href="/recipe_search/{{ session.username }}">Show my recipes</a></p>
        {% else %}
        <p>Not your profile!</p>
        {% endif %}
    {% else %}
        <p>Log in!</p>
    {% endif %}
{% endblock %}