{% extends "layout.html" %}
{% block title %}<b>Search recipes</b>{% endblock %}
{% block content %}
<h2>Search recipes</h2>
<br>
<form id="recipe_search_form" action="/recipe_search" method="POST">
    <table>
        <tbody>
            <tr>
                <td>Recipe Name: </td>
                <td><input type="text" name="recipe_name" value="{{ request.form['recipe_name'] }}"></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" value="{{ request.form['username'] }}"></td>
            </tr>
            <tr>
                <td>Max active time (minutes): </td>
                <td><input type="number" min="0" step="1" name="active_time" value="{{ request.form['active_time'] }}"></td>
            </tr>
            <tr>
                <td>Max passive time (minutes): </td>
                <td><input type="number" min="0" step="1" name="passive_time" value="{{ request.form['passive_time'] }}"></td>
            </tr>
            <tr>
                <td>Max difficulty: </td>
                <td><input type="number" min="0" max="3" step="1" name="difficulty" value="{{ request.form['difficulty'] }}"></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select name="meal_type"><br>
                        <option value="all">all</option>
                        {% for mt in meal_types %}
                        <option value="{{ mt }}">{{ mt }}</option>
                        {% endfor %}
                        </select>
                </td>
            </tr>
            <tr>
                <td>
                    {% if order_selected == "0" %}
                        <input type="radio" name="order_name" value="0" checked> A-Ö
                    {% else %}
                        <input type="radio" name="order_name" value="0"> A-Ö
                    {% endif %}
                </td>
            </tr><tr>
                <td>
                    {% if order_selected == "1" %}
                        <input type="radio" name="order_name" value="1" checked> Ö-A
                    {% else %}
                        <input type="radio" name="order_name" value="1"> Ö-A
                    {% endif %}
                </td>
            </tr><tr>
                <td>
                    {% if order_selected == "2" %}
                        <input type="radio" name="order_name" value="2" checked> newest first
                    {% else %}
                        <input type="radio" name="order_name" value="2"> newest first
                    {% endif %}
                </td>
            </tr><tr>
                <td>
                    {% if order_selected == "3" %}
                        <input type="radio" name="order_name" value="3" checked> oldest first
                    {% else %}
                        <input type="radio" name="order_name" value="3"> oldest first
                    {% endif %}
                </td>
            </tr>
            {% for i in range(ingredient_list|length) %}
            <tr>
                {% if i == ingredient_list|length -1 and ingredient_list|length > 1 %}
                    <td><input name="ingredient" type="text" value="{{ingredient_list[i]}}" autofocus></td>
                {% else %}
                   <td><input name="ingredient" type="text" value="{{ingredient_list[i]}}"></td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" formaction="/add_ingredient_search" value="add ingredient"></td>
                <td><input type="submit" formaction="/remove_ingredient_search" value="remove ingredient"></td>
            </tr>
            <tr>
                <td><input type="submit" value="search"></td>
            </tr>
        </tbody>
    </table>
</form>
<table>
    <thead>
        <tr>
            <th colspan="1">Recipe name</th>
            <th colspan="1">Creator</th>
        </tr>
    </thead>
    <tbody>
        {% for element in list %}
        <tr>
            <td><a href="{{ direction }}{{ element[0] }}">{{ element[1] }}</a></td>
            <td><a href="/recipe_search/{{ element[2] }}"> {{ element[2] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
