<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Fort</title>
    </head>
    <body>
        {% if session.username %}
        <p>Logged in as {{ session.username }} <a href="/logout">Log out</a></p> 
        {% else %}
        <p>{{ login_error }}</p>
        <form action="/login" method="POST">
            <p>Username: <input type="text" name="username"></p>
            <p>Password:  <input type="password" name="password"></p>
            <input type="submit" value="Log in">
        </form>
        {% endif %}
        <h3>{{ list_header }}</h3>
        <br>
        <form action="/recipes" mehtod="POST">
            search by recipe name:
            <input type="text" name="recipe_name">
        </form>
        <ul>
            {% for element in list %}
            <li> <a href="{{ direction }}{{ element[0] }}">{{ element[0] }}</a>
            {% endfor %}
        </ul>
    </body>
</html>
